body {
    background: linear-gradient(to right, #6a11cb, #6a11ce);
    color: white;
    font-family: Arial, sans-serif;
    padding-top: 150px;
    margin: 0;
    text-align: center;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #333;
    border-bottom: 3px solid #6a11cb;
    z-index: 1000;
    text-align: center;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

nav {
    margin-top: 15px;
}

nav button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

nav button.active {
    background-color: #6a11cb;
}

/* Sections */
section {
    display: none;
    padding: 20px;
}

section.active {
    display: block;
}

/* Card */
.card-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: white;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
}

.card h2, .card p {
    margin: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: relative;
    width: 100%;
}
